<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer/common/fragment::head">

</head>

<body>

    <div class="body-wrapper">
        <!-- Navigation -->
        <nav th:replace="customer/common/fragment::nav"></nav>
        <!-- Page Content -->
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${#lists.isEmpty(cart)}" class="container-fluid mt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Cart</h5>
                                    </div>
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Cart is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4> <a th:href="@{/home}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${#lists.isEmpty(cart)}" class="cart_section p-2">
                        <div class=" px-4 px-lg-0 ">
                            <div class="pb-5 ">
                                <div class="container ">
                                    <div class="row ">
                                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 ">
                                            <!-- Shopping cart table -->
                                            <div class="table-responsive ">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col " class="border-0 bg-light ">
                                                                <div class="p-2 px-3 text-uppercase ">Product</div>
                                                            </th>
                                                            <th scope="col " class="border-0 bg-light ">
                                                                <div class="py-2 text-uppercase ">Price (VND)</div>
                                                            </th>
                                                            <th scope="col " class="border-0 bg-light ">
                                                                <div class="py-2 text-uppercase ">Quantity</div>
                                                            </th>
                                                            <th scope="col " class="border-0 bg-light ">
                                                                <div class="py-2 text-uppercase ">Totals</div>
                                                            </th>
                                                            <th scope="col " class="border-0 bg-light ">
                                                                <div class="py-2 text-uppercase ">Select</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="item:${cart} ">
                                                            <th scope="row " class="border-0 ">
                                                                <div class="p-2 ">
                                                                    <img th:src="@{/image/{id}(id=${item.itemModel.id})} " alt=" " width="70 " class="img-fluid rounded shadow-sm ">
                                                                    <div class="ml-3 d-inline-block align-middle ">
                                                                        <h5 class="mb-0 "> <a th:href="@{ '/home/item/'+${item.itemModel.name}} " class="text-dark d-inline-block align-middle ">[[${item.itemModel.name}]]</a></h5>
                                                                        <span class="text-muted font-weight-normal font-italic d-block ">Category: [[${item.itemModel.categoryModel.nameCate}]]</span>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <td class="border-0 align-middle "><strong th:text="${#numbers.formatDecimal(item.itemModel.price, 0, 'COMMA', 0, 'POINT')} + ' vnđ' "></strong></td>
                                                            <td class="border-0 align-middle "><strong><input type="number" name="quantity" id="" min=1 th:max="${item.quantity}" value="1"></strong></td>
                                                            <td class="border-0 align-middle "><strong th:text="${#numbers.formatDecimal(item.quantity * item.itemModel.price, 0, 'COMMA', 0, 'POINT')} + ' vnđ' "></strong></td>
                                                            <td class="border-0 align-middle "><input type="checkbox" class="custom-control custom-checkbox" th:id="${item.id}"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a name=" " id=" " class="btn btn-primary " th:href="@{/home} " role="button ">Continue shopping</a>
                                            <a name=" " id=" " class="btn btn-primary float-right" th:href="@{/order} " role="button ">Order</a>

                                            <!-- End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer s class="py-4 bg-dark">
            <div>
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/customer/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/customer/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
<script th:replace="customer/common/fragment::button_more">
</script>

</html>