<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/menu::html_head">
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="admin/common/menu:: menu"></ul>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav th:replace="admin/common/menu:: search"></nav>
				<!-- End of Topbar -->
				<!--content-->
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>code</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cate : ${listCate}"> 
                                <td th:text="${cate.id}"></td>
                                <td th:text="${cate.nameCate}"></td>
                                <td th:text="${cate.code}"></td>
                                <td><a name="" id="" class="btn btn-primary" th:href="@{/admin/category/update/{id}(id=${cate.id})}" role="button">update</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<!--pagination-->
				<div th:replace="admin/common/menu::pagination"></div>
				<!--content-->
			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<footer th:replace="admin/common/menu::footer"></footer>
			<!-- End of Footer -->
		</div>
	</div>
	<!-- Logout Modal-->
	<div th:replace="admin/common/menu::option_user"></div>
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
</body>
</html>